<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>home</title>
<style type="text/css">
#header {
	position: static;
	height: 30px;
	width: 100%;
	background-color: #09F;
}
#search-box {
	background-color: #999;
	position: relative;
	height: 30px;
	width: 1000px;
	margin: 0 auto 0 auto;
	padding: 5px 15px 5px 15px;
}
.push-left {
	background-color: #36F;
	width: 25%;
	float: left;
	padding: 15px;
}
.push-right {
	width: 65%;
	float: right;
	background-color: #3CC;
	padding: 15px;
}
#main-container {
	background-color: #039;
	width: 1000px;
	margin: 0 auto 0 auto;
	top: 15px;
	position: relative;
	z-index: -1;
	padding: 15px;
	height: auto;
}
</style>
</head>

<body>

<div id="header">
  <div id="search-box" align="right">
  	<input type="text" name="query" />
    <input name="search" type="submit" id="search" />
  </div>
</div>

<div id="main-container">

  <div class="push-left">
  	<h1><img src="Luka.jpg" height=50px width=50px/> name</h1>
    info<br />
    follower-count<br />
    <a href="/profile">profile link?</a><br />
    
  </div>
  <div class="push-right">

    <div>
      <input type="text" name="tweet" />
      <button type="button" onclick="alert('This submits the tweet!')">tweet</button>
    </div>



    <div>
      <table>
     	<tr>
            <table>
                <tr><td><b>Luka</b> <i>luka_warm</i> - timestamp</td></tr>
                <tr><td>colors are temporary</td></tr>
            </table>
        </tr>
     	<tr>
            <table>
                <tr><td><b>Luka</b> <i>luka_warm</i> - timestamp</td></tr>
                <tr><td>one day i think i will become a unicorn. this is my life goal #dreams</td></tr>
            </table>
        </tr>
     	<tr>
            <table>
                <tr><td><b>Luka</b> <i>luka_warm</i> - timestamp</td></tr>
                <tr><td>will i ever manage to become the one true hokage</td></tr>
            </table>
        </tr>
     	<tr>
            <table>
                <tr><td><b>Luka</b> <i>luka_warm</i> - timestamp</td></tr>
                <tr><td>#whydomyarmslooklikespaghetti #momsspaghetti #kneesweak</td></tr>
            </table>
        </tr>
     	<tr>
            <table>
                <tr><td><b>Luka</b> <i>luka_warm</i> - timestamp</td></tr>
                <tr><td>monday tuesday wednesday thursday friday saturday sunday #week</td></tr>
            </table>
        </tr>
      </table>
    </div>
  </div>
</div>

</body>
</html>
