<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
	border: 1px solid black;
}
</style>
</head>
<body>
	<button type="button" onclick="alert('This button will have a couple of functions.  If you are not following this user, it will be a button to follow the user.  If you are following the user, it will be a button to unfollow. If you are looking at your own page, this button will not exist.  It will also not exist if you are looking at this page while not logged in.')">Follow/Unfollow</button>
	<button type="button" onclick="alert('This will be a search bar to be able to search for a tweet or something else within our database.  Ideally, it will be on the top right of the screen, but as this is very basic and we are not using a style sheet it is here for now.')">Search</button>
	<br></br>
	<img src="Luka.jpg" alt="Luka face" width="180" height="240">
	<h1>Luka's Profile!</h1>

	<p>Stats</p>
	<table>
		<tr>
			<th>Tweet Feed For Luka</th>
		</tr>
		<tr>
			<td>Tweet1</td>
		</tr>
		<tr>
			<td>Tweet2</td>
		</tr>
		<tr>
			<td>Tweet3</td>
		</tr>
	</table>
</body>
</html>
